body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 400px;
    margin-bottom: 40px;
}
.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}

.quickSearch{
	margin-top: 40px;
}
.quickSearch ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin-right: 20px;
	margin-top: 10px;
}
.quickSearch ul li{
	background: #fff;
	margin: 8px;
	cursor: pointer;
	padding: 5px;
	border: 1px solid lightgrey;
	border-radius: 50px;
}
.quickSearch ul li:hover{
	color: #fff;
	background: grey;
}
.addCity{
	background-color: grey;
	color: #fff;
}